<mat-form-field fxFlex="95"
                [color]="color"
                (click)="fileInput.inputElement.click()"
                (keyup.enter)="fileInput.inputElement.click()"
                (keyup.delete)="fileInput.clear()"
                (keyup.backspace)="fileInput.clear()">
  <input matInput
         [placeholder]="placeholder"
         [value]="imgFile?.name"
         readonly>
</mat-form-field>

<button mat-icon-button
        *ngIf="imgFile"
        (click)="fileInput.clear()"
        (keyup.enter)="fileInput.clear()">
  <mat-icon>cancel</mat-icon>
</button>

<td-file-input #fileInput
               [(ngModel)]="imgFile">
</td-file-input>
