@import '../../../../styles';

.tempo-inatividade-container {
  span {
    color: $dark-secondary-text;
  }

  .label-slider {
    text-align: center;
    font-weight: 700;
  }

  .row-slider {
    margin: 14px 0 !important;
  }

  button {
    width: 180px;
  }
}
