.border-erro-perfil {
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 3px;
  padding: 50px 100px;
  width: 800px;
}

.img-erro {
  height: 150px;
}

.msg-container {
  padding: 24px;
}

.message-erro {
  color: rgba(0, 0, 0, 0.32);
  font-weight: 700;
}

.btn-voltar {
  width: 180px;
}
