/* For use in src/lib/core/theming/_palette.scss */
$brd-mat-blue-theme: (
  50 : #e0f4fc,
  100 : #b3e4f7,
  200 : #80d2f2,
  300 : #4dbfed,
  400 : #26b2e9,
  500 : #00a4e5,
  600 : #009ce2,
  700 : #0092de,
  800 : #0089da,
  900 : #0078d3,
  A100 : #fbfdff,
  A200 : #c8e4ff,
  A400 : #95cbff,
  A700 : #7bbfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

