$brd-mat-orange-theme: (
  50 : #feefe4,
  100 : #fbd6bc,
  200 : #f9bb90,
  300 : #f7a064,
  400 : #f58b42,
  500 : #f37721,
  600 : #f16f1d,
  700 : #ef6418,
  800 : #ed5a14,
  900 : #ea470b,
  A100 : #ffffff,
  A200 : #ffe8e1,
  A400 : #ffc0ae,
  A700 : #ffad95,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
