// CORES DA BRADO
$brd-primary-color: #009999; // -> Default-theme
$brd-secondary-color: #99CC33; // -> Default-theme

$brd-tertiary-orange: #F37721; // -> secondary-theme
$brd-tertiary-blue: #00A4E5; // -> secondary-theme
$brd-tertiary-blue2: #003A70;

// Borda
$brd-border-radius-default: 4px;

// Label
$brd-text-secondary: #969696;
